.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  
}
input {
  display: flex;
  margin-left: 45%;

}
.AuthForm {
  border: 1px black solid;
  

}
.App {  
  text-align: center;
}
.AuthForm form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}